{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <img class="mb-4 mt-5" src="{{ asset('images/logotype.png') }}" alt="" width="350" height="100">
            <h1 class="h3 mb-3 font-weight-normal text-center ">Регистрация</h1>

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email, {'label' : 'Почта',
                'attr' : {'placeholder' : "пример: petr13@gmail.com"}}) }}
            {{ form_row(registrationForm.firstName, {'label' : 'Имя',
                'attr' : {'placeholder' : "пример: Пётр"}}) }}
            {{ form_row(registrationForm.secondName, {'label' : 'Фамилия',
                'attr' : {'placeholder' : "пример: Бондарчук"}}) }}
            {{ form_row(registrationForm.plainPassword.first, {'label' : 'Пароль',
                'attr' : {'placeholder' : "пример: G3J$Z.5b:{"}}) }}
            {{ form_row(registrationForm.plainPassword.second, {'label' : 'Пароль',
                'attr' : {'placeholder' : "пример: G3J$Z.5b:{"}}) }}
            {{ form_row(registrationForm.agreeTerms, {'label' : 'Согласится с правилами'}) }}

            <button class="btn btn-primary btn-block" type="submit">Зарегистрироватся</button>
            {{ form_end(registrationForm) }}
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}
